.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
data-raw/ACTIVATE_lentil.txt
data-raw/ACTIVATE_wheat.txt
data-raw/ACTIVATE_lentil_subsample.txt
Figures/cor YLD vs PRT_legacy value highlighted.png
Figures/Lentil Legacy Values.png
Figures/Lentil Legacy Values2.png
Figures/Lentil Legacy Values3.png
