.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
data-raw/ACTIVATE_lentil.txt
data-raw/ACTIVATE_wheat.txt
data-raw/ACTIVATE_lentil_subsample.txt
data-raw/alfa_diversity_rarefied_final_Bokulich_metadata.txt
data-raw/lentil_blups_wide_spats.csv
Figures/cor YLD vs PRT_legacy value highlighted.png
Figures/Lentil Legacy Values.png
Figures/Lentil Legacy Values2.png
Figures/Lentil Legacy Values3.png
Figures/corr_traits_ENVs.png
LegumeRotation_env.RData
